/* used dark grey instead of black cuz => uxmovement.com/content/why-you-should-never-use-pure-black-for-text-or-backgrounds/ */
body { 
    background-color: #444444;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 8px;
}

/* rainbow txt sourced from w3bits.com/rainbow-text weow*/
.heading, h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to left, #E920FF, #0023FF, #1BD700, #FFFF00, #FF8600, #FF0D0D);
    -webkit-background-clip: text; 
    color: transparent;
    text-align: center;
    outline: 5px dotted white;
}

.card1, .card2 {
    outline: 5px dotted white;
}

.heading {
    font-size: 64px;
    grid-column: 4 / 8;
    grid-row: 2 / 3;
}

h2 {
    font-size: 32px;
    grid-column: 4 / 8;
    grid-row: 3 / 4;
}

.card1 { 
    grid-column: 2 / 4;
    grid-row: 4 / 8;
}

.card2 {
    grid-column: 8 / 10;
    grid-row: 4 / 8;
}

#btn { 
    cursor: pointer; /* bonus feature */
    background-color: lightgray;
    font-size: large;
    border-radius: 5px;
    grid-column: 5 / 7;
    grid-row: 8 / 9;
}

.board {
    grid-column: 4 / 8;
    grid-row: 4 / 8;
    background: lightgray;
}

.square {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 8px;
    height: 100%;
    text-align: center;
    line-height: 145px;
    font-size: 70px;
}

/* selecting all child elements of parent element */
.square > * {
    outline: 5px groove cyan;
}

.top-left {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

.top-mid {
    grid-column: 4 / 6;
    grid-row: 2 / 4;
}

.top-right {
    grid-column: 6 / 8;
    grid-row: 2 / 4;
}

.mid-left {
    grid-column: 2 / 4;
    grid-row: 4 / 6;
}

.mid-mid {
    grid-column: 4 / 6;
    grid-row: 4 / 6;
}

.mid-right {
    grid-column: 6 / 8;
    grid-row: 4 / 6;
}

.bottom-left {
    grid-column: 2 / 4;
    grid-row: 6 / 8;
}

.bottom-mid {
    grid-column: 4 / 6;
    grid-row: 6 / 8;
}

.bottom-right {
    grid-column: 6 / 8;
    grid-row: 6 / 8;
}